{% extends 'base.html.twig' %}

{% block body %}
    <h1>Travel Plan Show</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
     <a href="{{ path('travelplan_index') }}">Retour</a>

{% endblock %}
